{{define "base"}}
<!-- 
   ____ _                _ _    ____                     _ 
  / ___(_)_ __ ___ _   _(_) |_ / ___|__ _ _ __ ___   ___| |
 | |   | | '__/ __| | | | | __| |   / _` | '_ ` _ \ / _ \ |
 | |___| | | | (__| |_| | | |_| |__| (_| | | | | | |  __/ |
  \____|_|_|  \___|\__,_|_|\__|\____\__,_|_| |_| |_|\___|_|
                                                            -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{block "title" .}}War Of Ages{{end}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/styles/main.css">
	<link rel="stylesheet" href="/static/styles/main-light.css">
	<link rel="icon" type="image/x-icon" href="/static/images/tab_icons/d20_tab.ico">
</head>
{{template "titlebar" .}}

<body>
	{{block "content" .}}{{end}}
	{{template "footer" .}}
</body>

</html>
{{end}}