{{define "titlebar"}}
<div class="title-bar">
    <a href="/">
       <img src="/static/images/page_icons/d20_page.png" class="title-bar-icon">
	</a>
    <!-- <a href="javascript:history.back()" class="back-button"></a> -->
    <h1 class="title">{{block "tbTitle" .}}Default Title{{end}} </h1>
</div>

<nav aria-label="breadcrumb">
    <div id="breadcrumb" class="breadcrumb"></div>
</nav>

<script src="/static/scripts/breadcrumb.js"></script>

<style>
/* .breadcrumb a+a::before {
content: "/";
color: #d3d3d3;
margin-right: 5px;
margin-left: 5px;
} */
</style>
{{end}}